section.side_navigation{
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .side_navigation__wrapper{
        min-height: 100%;
        position: relative;
        padding-bottom: 60px;
    }

    .logo_box{
        position: relative;
        height: 120px;
        img{
            width: 160px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    h1{
        font-size: 14px;
        color: #637282;
        text-transform: uppercase;
        margin: 15px 15px 15px 30px;
        letter-spacing: 2px;
    }

    ul{
        padding-left: 0px;
        margin-bottom: 40px;
        li{
            margin: 4px 15px;
            list-style: none;
            position: relative;
            &:hover{
                a {
                    background-color: #f1f1f1;
                }
            }
            a{
                text-decoration: none;
                color: #637282;
                padding: 5px 15px;
                display: block;
                font-size: 13px;
                font-weight: 300;
                border-radius: 4px;
                svg{
                    display: none;
                    position: absolute;
                    left: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .side_navigation__footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 60px;
        a{
            padding: 20px 10px;
            text-align: center;
            color: inherit;
            display: block;
            text-decoration: none;
            opacity: .2;
            &:hover{
                text-decoration: none;
                opacity: 1;
            }
            .fa-lock{
                color: #2ddb4e;
            }
            .fa-unlock{
                color: #db472d;
            }
        }
    }
}

@media all and (max-width: 480px) {
    section.side_navigation{
        left: -240px;
        transition: .5s ease all;
        z-index: 100;
    }

    .menu__open{
        section.side_navigation{
            left: 0;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.23);
        }
    }
}